@mixin hover-underline($color) {
  transition: transform 200ms;
  position: relative;
  display: inline-block;

  &:hover {
    transform: translateY(-2px);
  }

  &:after {
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    bottom: 0;
    content: "";
    display: block;
    background-color: $color;
    height: 0.5rem;
    left: 50%;
    position: absolute;
    width: 0;
  }

  &:hover:after {
    width: 50%;
    left: 25%;
  }
}

@mixin hover-lift {
  transition: transform 400ms;
  &:hover {
    transform: translateY(-3px);
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: 112.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}
