@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Zen+Kaku+Gothic+New&display=swap');

$font-primary: 'Arima Madurai', cursive;
$font-secondary: 'Zen Kaku Gothic New', sans-serif;

$color-background: #fefaf6;
$color-primary: #ffeaee;
$color-secondary: #dacdff;
$color-pop-sunny: #ffeec4;
$color-pop-night: #142c69;