@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Zen+Kaku+Gothic+New&display=swap");

$font-primary: "Zen Kaku Gothic New", sans-serif;
$font-secondary: "Arima Madurai", cursive;

$color-background: #fefaf6;
$color-primary: #ffeaee;
$color-secondary: #dacdff;
$color-pop-sunny: #ffeec4;
$color-pop-night: #142c69;

$color-font-black: rgb(0, 0, 0);
$color-font-grey: rgb(77, 77, 77);

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
